/* game board table */

body {
  background-color: white;
}

#board {
  border: solid 1px black;
}

#board td {
  background-color: yellow;
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece.player1 {
  /* TODO: make into circles */
  
  margin: 5px;
  width: 80%;
  height: 80%;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  animation: p1 0.4s linear forwards;
}

@keyframes p1 {
  from{
    transform: translateY(-400px);
  }
  to{
    transform: translateY(0);
  }
}

.piece.player2 {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  animation: p2 0.4s linear forwards;
}

@keyframes p2 {
  from{
    transform: translateY(-400px);
  }
  to{
    transform: translateY(0);
  }
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#board {
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 3rem;
}
